.imageWrapper {
	// Sets the background image in the header area
	height: 714px;
	background:
		linear-gradient(rgba($image-overlay-color, $image-overlay-transparency),
			rgba($image-overlay-color, $image-overlay-transparency)),

		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0px 0px 40px 40px;

}

.headerBackground {
	height: 115px;
	background-color: rgba($header-color, $header-transparency);
}

@media only screen and (max-width: 768px) {

	.headerBackground {
		height: 80px;
	}

}

.subPageHeaderBackground {
	background-color: #fff;
}

.container {
	// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px auto auto auto;
	grid-column-gap: 30px;
	grid-template-areas:
		"h h h h h h h h h h h h"
		"row row row row row row row row row row row row"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

@media only screen and (max-width: 992px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
		overflow-x: hidden;
	}
}

.subPageContainer {
	grid-template-rows: 115px auto auto auto;
	background-color: #fff;
}

@media only screen and (max-width: 768px) {

	.container {
		// Set up the container for the site content
		grid-template-rows: 80px auto auto auto;
	}
}

@media only screen and (max-width: 992px) {

	.container {
		grid-column-gap: 0px;
		grid-template-columns: 1;
		grid-template-rows: 115px auto auto auto;
		grid-template-areas:
			"h h h h h h h h h h h h"
			"row row row row row row row row row row row row"
			"c c c c c c c c c c c c"
			"f f f f f f f f f f f f";
	}
}

.page {
	margin-top: 30px;
	margin-bottom: 70px;
	grid-column: 3/11;
}

@media only screen and (max-width: 768px) {

	.page {
		margin-top: 30px;
		margin-bottom: 70px;
		grid-column: 1/-1;
	}

}

header {
	grid-area: h;
	display: flex;
	margin-right: -15px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 115px;
	margin-right: 30px;
}

.logo>p {
	color: $header-title-color;
	white-space: nowrap;
	display: flex;
	font-weight: bold;
	margin-left: 15px;
}

@media only screen and (max-width: 768px) {

	.logo {
		height: 80px;
		margin-right: 0px;
	}

	.logo>p {
		display: none;
	}

}

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
	transform: translateZ(0);
	backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {

	.divider {
		position: relative;
		min-width: 1px;
		max-width: 1px;
		background-color: rgba(127, 127, 127, 0.2);
		display: inline-block;
		margin-left: 15px;
	}

}


// Navigation Links
.scroll {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;

	height: 115px;
	//margin-left: 15px;

	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 768px) {

	.scroll {
		height: 80px;
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -60px;
		justify-content: flex-start;
	}

}

.scroll::-webkit-scrollbar {
	display: none;
}


nav>ul {
	color: #fff;
	display: flex;
	list-style-type: none;

}

nav>ul li {
	padding-left: 30px;
}

@media only screen and (max-width: 768px) {

	nav>ul li {
		padding-left: 20px;
	}

}

nav>ul li:first-child {
	padding-left: 0px;
	padding-left: 15px;
}

nav>ul li:last-child {
	padding-right: 15px;
}

nav>ul li a:link,
nav>ul li a:visited {
	text-decoration: none;
	color: rgba($header-title-color, 0.6);
}

nav>ul li a:hover,
nav>ul li a:active {
	text-decoration: none;
	color: rgba($header-title-color, 1);
}



// Sub Page Header Styling
.subPageHeaderBackground .logo>p {
	color: #000;
}

.subPageHeaderBackground nav>ul li a:link,
.subPageHeaderBackground nav>ul li a:visited {
	color: rgba(#000, 0.6);
}

.subPageHeaderBackground nav>ul li a:hover,
.subPageHeaderBackground nav>ul li a:active {
	color: rgba(#000, 1);
}


// Content Row - iPhone and Product Section
.contentRow {
	grid-area: row;
	display: grid;
	grid-template-columns: 520px 1fr;
	gap: 30px;
	margin-top: 50px;
	align-items: start; // Top-align both columns
}

@media only screen and (max-width: 1070px) {
	.contentRow {
		grid-template-columns: 440px 1fr;
		gap: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.contentRow {
		grid-template-columns: 1fr;
		gap: 20px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}


// Left column content wrapper (iPhone only)
.leftColumn {
	display: flex;
	flex-direction: column;
	gap: 30px;
}


// Right column content wrapper
.rightColumn {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media only screen and (max-width: 992px) {
	.rightColumn {
		order: 1; // Show first on mobile
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;
	}

	.leftColumn {
		order: 2; // Show second on mobile
	}
}


.appIconShadow {
	display: flex;
	filter: $drop-shadow;
	flex-shrink: 0;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
	transform: translateZ(0);
	backface-visibility: hidden;
}


// iPhone Device Preview

.iphonePreview {
	background-image: url($device-color);
	background-size: 400px auto;
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 0;
	padding-bottom: 30px;
	min-height: 800px;
}

.iphoneScreen {
	width: 349px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 26px;
	margin-top: 23px;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.videoContainer {
	width: 349px;
	height: 755px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 26px;
	margin-top: 23px;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.videoContainer>video {
	width: 349px;
	height: 755px;
}

@media only screen and (max-width: 1070px) {

	.iphonePreview {
		background-size: 370px auto;
		padding-bottom: 40px;
	}

	.iphoneScreen {
		width: 322px;
		margin-left: 24px;
		margin-top: 22px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer {
		width: 322px;
		height: 698px;
		margin-left: 24px;
		margin-top: 22px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer>video {
		width: 322px;
		height: 698px;
	}

}

@media only screen and (max-width: 992px) {

	.iphonePreview {
		display: flex;
		background-size: 260px auto;
		background-position: center 0;
		margin-top: 0px;
		margin-left: -15px;
		margin-right: -15px;
		justify-content: center;
		padding-bottom: 50px;
		padding-left: 0px;
		padding-right: 0px;
		min-height: 550px;
	}

	.iphoneScreen {
		width: 226px;
		height: 488px;
		-webkit-clip-path: url(#screenMask);
		clip-path: url(#screenMask);
		margin: 0px;
		margin-top: 17px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer {
		width: 226px;
		height: 488px;
		margin-left: 0px;
		margin-top: 17px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer>video {
		width: 226px;
		height: 488px;
	}

}

@media only screen and (max-width: 375px) {
	.iphonePreview {
		background-size: 240px auto;
		padding-bottom: 40px;
		min-height: 500px;
	}

	.iphoneScreen {
		width: 210px;
		height: 454px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer {
		width: 210px;
		height: 454px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.videoContainer>video {
		width: 210px;
		height: 454px;
	}
}


// Product Section Styling
.productSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
	margin-top: 0px;
}

#buy-section {
	scroll-margin-top: 150px;
}

@media only screen and (max-width: 992px) {
	.productSection {
		margin-top: 0px;
		padding: 25px 15px;
	}

	#buy-section {
		scroll-margin-top: 250px;
	}
}

// App Info inside Product Section
.productAppInfo {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	margin-bottom: 30px;

	.appIconShadow {
		flex-shrink: 0;
	}

	.productAppText {
		flex: 1;
		text-align: left;

		.appName {
			color: #000;
			font-size: 3rem;
			margin-bottom: 10px;
		}

		.appTagline {
			color: #000;
			font-size: 1.8rem;
			line-height: 1.4;
			margin: 0;
			font-weight: 400;
		}
	}
}

@media only screen and (max-width: 768px) {
	.productAppInfo {
		flex-direction: column;
		text-align: center;

		.productAppText {
			text-align: center;

			.appName {
				font-size: 2.5rem;
			}

			.appTagline {
				font-size: 1.6rem;
			}
		}
	}
}

.productInfo {
	width: 100%;
	margin-bottom: 25px;
}

.productImage {
	width: 100%;
	max-width: 350px;
	margin-bottom: 25px;
	filter: $drop-shadow;
	transform: translateZ(0);
	backface-visibility: hidden;

	img {
		width: 100%;
		height: auto;
		border-radius: 12px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}
}

// Buy Step with number and button side-by-side
.buyStep {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 30px;
	background-color: #f8f8f8;
	border-radius: 15px;

	.stepNumber {
		background-color: #3689C6;
		color: #fff;
		font-size: 2.5rem;
		font-weight: bold;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-right: 20px;
		order: 1;
	}
}

.buyStepContent {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	order: 2;

	h3 {
		color: #000 !important;
		font-size: 2.2rem;
		margin-bottom: 8px;
		font-weight: 600;
	}
}

.buyStepLeft {
	flex: 0 0 auto;
}

.buyStepRight {
	flex: 0 0 auto;

	#product-component-1733601234567 {
		text-align: right;
	}
}

@media only screen and (max-width: 768px) {
	.buyStep {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 20px 15px;

		.stepNumber {
			margin-right: 0;
			margin-bottom: 15px;
			order: 0;
		}
	}

	.buyStepContent {
		flex-direction: column;
		text-align: center;
		width: 100%;
		order: 1;

		h3 {
			text-align: center;
		}
	}

	.buyStepLeft {
		width: 100%;
	}

	.buyStepRight {
		width: 100%;

		#product-component-1733601234567 {
			text-align: center;
		}
	}
}

.productTitle {
	color: #000 !important;
	font-size: 2.8rem;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}

.productPrice {
	color: #2f8064 !important;
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 0;
	text-align: left;
}

.productDescription {
	color: #333 !important;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: center;
}

// Steps Section
.stepsSection {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.stepsTitle {
	color: #000 !important;
	font-size: 3.5rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	display: none; // Hidden on both desktop and mobile
}

@media only screen and (max-width: 992px) {
	.stepsSection {
		margin-top: 30px;
	}
}

.step {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 30px;
	padding: 30px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.step:last-child {
	margin-bottom: 0;
}

.stepNumber {
	background-color: #3689C6;
	color: #fff;
	font-size: 2.5rem;
	font-weight: bold;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-right: 20px;
	order: 1;
}

.stepContent {
	flex: 1;
	order: 2;

	h3 {
		color: #000 !important;
		font-size: 2.2rem;
		margin-bottom: 10px;
		font-weight: 600;
	}

	p {
		color: #333 !important;
		font-size: 1.6rem;
		line-height: 1.5;
		margin-bottom: 15px;
	}
}

.appLinks {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 20px;

	.appStore {
		height: 60px;
		filter: $drop-shadow;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	a {
		display: inline-block;
	}
}

@media only screen and (max-width: 992px) {
	.step {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 25px 15px;
		text-align: center;
	}

	.stepNumber {
		margin-right: 0;
		margin-bottom: 20px;
		align-self: center;
		order: 0;
	}

	.stepContent {
		order: 1;

		h3 {
			font-size: 2.2rem;
		}

		p {
			font-size: 1.6rem;
		}
	}

	.appLinks {
		justify-content: center;
	}
}

@media only screen and (max-width: 768px) {
	.productSection {
		padding: 25px;
	}

	.productTitle {
		font-size: 2.5rem;
	}

	.productPrice {
		font-size: 2rem;
		text-align: center;
	}

	.productDescription {
		font-size: 1.6rem;
	}

	.productImage {
		max-width: 100%;
	}

	.buyStep {
		padding: 20px;

		.stepNumber {
			width: 50px;
			height: 50px;
			font-size: 2rem;
		}
	}

	.buyStepContent {
		h3 {
			font-size: 2rem;
		}
	}

	.buyStepLeft {
		.productPrice {
			text-align: center;
		}
	}

	.stepsTitle {
		font-size: 2.8rem;
		margin-bottom: 35px;
	}

	.stepNumber {
		width: 60px;
		height: 60px;
		font-size: 2.5rem;
	}

	.step {
		padding: 20px;
		margin-bottom: 30px;
	}
}


// Feature List

.features {
	grid-area: c;
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-top: 93px;
}

.feature {
	display: flex;
	padding-top: 63px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100%/3);
}

.feature:nth-child(-n+3) {
	padding-top: 0px;
}

.feature:nth-child(3n) {
	padding-right: 0px;
}

.feature:nth-child(3n+1) {
	padding-left: 0px;
}

.iconBack {
	color: $feature-icons-background-color;
}

.iconTop {
	color: $feature-icons-foreground-color;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

.featureText {
	margin-left: 18px;
}

.featureText>h3 {
	color: $feature-title-color;
}

.featureText>p {
	color: $feature-text-color;
	margin-top: 8px;
	line-height: 1.5;
}

@media only screen and (max-width: 992px) {

	.features {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 11px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;
	}

	.feature:nth-child(1) {
		padding-top: 0px;
	}

	.feature:nth-child(3n) {
		padding-right: 15px;
	}

	.feature:nth-child(3n+1) {
		padding-left: 15px;
	}

}

@media only screen and (max-width: 375px) {

	.features {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 11px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;
	}

	.feature:nth-child(1) {
		padding-top: 0px;
	}

	.feature:nth-child(3n) {
		padding-right: 0px;
	}

	.feature:nth-child(3n+1) {
		padding-left: 0px;
	}

}



// Footer

footer {
	grid-area: f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footerIcons {
	padding-bottom: 70px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.footerLinks {
	display: flex;
	text-align: center;
	padding-bottom: 70px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}


@media only screen and (max-width: 768px) {

	.footerLinks {
		flex-direction: column;
	}

	.footerLinks a {
		justify-content: stretch;
		margin-right: 0px;
		margin-top: 20px;
	}

	.footerLinks a:first-child {
		margin-top: 0px;
	}

}

@media only screen and (max-width: 992px) {

	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
		padding-top: 54px;
		padding-bottom: 61px;
	}

	.footerIcons {
		padding-bottom: 70px;
		display: flex;
	}

}

.hidden {
	display: none;
}